html{
    height:  100%;
}

body{
 
    background-image: url("images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172a2e;

}

.con{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
 }

header{
/*background-color: #334257;*/
height: 100%;
text-align: center;
width: 100%;
}

nav{ 
    background-color: #47607291;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    }

main{
background-color: #548CA8;  

text-align: center;
padding-top: 40px;
width: 100%;
padding-bottom: 80px;
}

p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #464646;
}

.maps{
    background-color: #548CA8;  
    height: 600px;
    text-align: center;
    }
.vid{
    background-color: #548CA8;  
    height: 400px;
    text-align: center;
}



footer{

background-color: #fcfcfc98;
padding-top: 10px;
padding-bottom: 10px;

}

.Navn{
    font-size: 6vw;
    color: #808080;
    padding-bottom: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    font-size: 84px;
    color: #464646;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
 .info{
    font-size: 18px;
    color: #464646;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .køb{
     color: #464646;
     font-size: 18px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
 }
 .navt{
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #ffffff;
     text-decoration: none;
     padding-right: 20px;
     padding-left: 20px;
 }
 footer p{ 
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     color: #464646;
     
 }
 footer p a{
     text-decoration: none;
     
 }
 .vegasti{
    color: #464646;
    
}
